#navbox {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    
}
#labeltab {
    color: white;
    font-size: 110%;
}

.imagedescription {
    display: flex;
    flex-direction: row;
}


