.body {
    display: flex;
    margin-left: 5%;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 390%;
    margin-top: 10%;
    width: 50%;
}

.aboutme {
    font-size: 150%;
    color: seashell;
}

