.homepage {
  background-image: url('./images/unsplashbluebackground.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
    display: flex;
    margin-left: 5%;
    flex-direction: column;
}
.title {
    color: white;
    font-size: 390%;
    margin-top: 10%;
    width: 50%;
}

.aboutme {
    font-size: 150%;
    color: seashell;
    width: 50%;
}
#cubediv {
    margin-top: -14%;
    z-index: 0;

    
}

#projects {
  background-color: rgb(64, 104, 130);
  height: 1000px;
  margin-top: -2.2%;
}
.titleP {
  margin-left: 5%;
  padding-top: 5%;
}
.project {
  margin-left: 5%;

}

.cubeimg:hover {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.chaosimg {
  width: 30%;
  height: auto;
}

@keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
